<div class="h-screen flex items-center justify-center bg-gray-200 shadow-xl">
  <div class="w-90 h-80 bg-blue-500 p-4 flex flex-col justify-center rounded-md text-white">
    <h2 class="mb-4 text-center font-bold text-2xl">Sistema de cadastro de livros</h2>

    <div class="flex flex-col gap-2">
      <span>Login</span>
      <input type="text" class="p-1 rounded text-black">
    </div>

    <div class="flex flex-col gap-2 mt-2">
      <span>Senha</span>
      <input type="password" class="p-1 rounded text-black">
    </div>
  </div>
</div>
